html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Oxygen", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #b9b4cc;
}

* {
  box-sizing: border-box;
}

p {
  text-align: justify;
  margin: 0;
  padding: 0;
  color: #5e5e60;
  font-weight: 300;
}

.main {
  max-width: 960px;
  border: 2px solid #6f688b;
  box-shadow: 0 0 1rem #b9b4cc;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #6f688b;
  justify-content: space-between;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b9b4cc;
}

section h2,
aside h2 {
  color: #6f688b;
  background: linear-gradient(to left, #6f688b, #b9b4cc);
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-left: 1%;
}

.photo {
  border-radius: 50%;
  border: 2px solid #b9b4cc;
  width: 15%;
  height: 15%;
  margin: 0.5% 5%;
}

.photo:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 16px;
  line-height: 19px;
  color: #b9b4cc;
  margin: 0% 3%;
}

.name {
  width: 50%;
}

.contacts li {
  margin: 0;
  padding-bottom: 4%;
  padding-left: 12%;
  background-repeat: no-repeat;
}

.contacts li:nth-child(4) {
  padding-bottom: 0;
}

.location {
  background-image: url(images/location.svg);
}

.phone-number {
  background-image: url(images/phone.svg);
}

.e-mail {
  background-image: url(images/e-mail.svg);
}

.telegram {
  background-image: url(images/telegram.svg);
  background-size: 20px;
}

.navigation {
  background-color: #b9b4cc;
  transition: all 0.3s;
  overflow: hidden;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.nav-link {
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 13px 20px;
  transition: 0.3s ease-in;
}

.nav-link:hover {
  color: #6f688b;
  transition: 0.3s ease-in;
  transform: scale(1.2);
  border-radius: 5%;
  box-shadow: 0 0 1rem white;
}

section li,
p {
  font-size: 20px;
  line-height: 28px;
}

.about-me,
.education,
.skills,
.english,
.code-example,
.recent-projects,
aside {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.about-me {
  margin-top: 5%;
}

.education-container {
  font-size: 18px;
  line-height: 25px;
  color: #5e5e60;
  font-weight: 300;
}

td {
  padding-right: 10px;
}

.skills__block {
  display: flex;
  align-items: center;
}

.skills__text {
  width: 20%;
  margin-right: 5%;
}

.skills-list {
  display: flex;
  align-items: center;
}

.skills-list__item {
  width: 10px;
  height: 10px;
  background-color: #6f688b;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.3s linear;
}

.skills-list__item:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.skills-list__item:last-child {
  margin-right: 0;
}

.skills-list__item_gray {
  background-color: #b9b4cc;
}

.projects-container {
  display: grid;
  grid-template-areas:
    'project1 project2'
    'project1 project3'
    'project1 project4';
}

.project1 { grid-area: project1; }
.project2 { grid-area: project2; }
.project3 { grid-area: project3; }
.project4 { grid-area: project4; }

.project-image {
  width: 100%;
  height: 100%;
}

figcaption {
  text-align: justify;
  color: #b9b4cc;
}

.code-example {
  margin-bottom: 3%;
}

pre {
  white-space: pre-line;
}

iframe {
  margin: auto;
  height: 315px;
  width: 100%;
}

.footer {
  background-color: #6f688b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rsshool-logo {
  width: 10%;
  height: 10%;
  margin: 0.5% 5%;
}

.year {
  margin: 0.5% 5%;
  color: #b9b4cc;
  font-size: 16px;
  line-height: 20px;
}

.footer a {
  color: #b9b4cc;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 900px) {
  .photo {
    margin: 0.5% 3%;
  }

  .name {
    width: 30%;
  }

  .contacts {
    margin: 0% 1%;
    width: 40%;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts li {
    padding-left: 10%;
  }

  h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
  }

  h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  section li,
  p {
    font-size: 16px;
    line-height: 22px;
  }

  .education-container {
    font-size: 16px;
    line-height: 22px;
  }

  .nav-link {
    line-height: 27px;
    padding: 10px 10px;
  }

  .nav-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .projects-container {
    display: grid;
    grid-template-areas:
    'project1'
    'project2'
    'project3'
    'project4';
    font-size: 15px;
  }
  .project1 .project-image {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .name {
    width: 100%;
    text-align: center;
  }

  .contacts {
    width: 40%;
    text-align: center;
    margin-bottom: 3%;
  }

  .skills__text {
    width: 40%;
  }

  .col1 {
    width: 36%;
  }
  .photo {
    width: 20%;
  }
  .projects-container {
    font-size: 12px;
  }
}

@media (max-width: 495px) {
  .nav-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .photo {
    width: 40%;
  }
  .contacts {
    width: 70%;
    text-align: center;
    margin-bottom: 3%;
  }

  .nav-link {
    line-height: 30px;
    padding: 5px 5px;
  }

  .nav-list {
    grid-template-columns: 1fr 1fr;
  }

  h1,
  h2,
  p,
  li {
    font-size: 15px;
    line-height: 18px;
  }
  pre {
    font-size: 10px;
  }
  .col1 {
    width: 36%;
  }
}

@media (max-width: 300px) {
  td {
    word-break: break-all;
  }
}
