html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-align: justify;
}
.main {
  max-width: 960px;
  border: 2px solid #6f688b;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-color: #6f688b;
  justify-content: space-between;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #b9b4cc;
}

.photo {
  border-radius: 50%;
  border: 2px solid #b9b4cc;
  width: 15%;
  height: 15%;
  margin: 0.5% 5%;
}

.photo:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 25%;
  font-size: 16px;
  line-height: 19px;
  color: #b9b4cc;
  margin: 0% 3%;
}

.name {
  width: 50%;
}

.contacts li {
  margin: 0;
  padding-bottom: 4%;
  padding-left: 12%;
  background-repeat: no-repeat;
}

.contacts li:nth-child(3) {
  padding-bottom: 0;
  word-break: break-all;
}

.location {
  background-image: url(images/location.svg);
}

.phone-number {
  background-image: url(images/phone.svg);
}

.e-mail {
  background-image: url(images/e-mail.svg);
}

.navigation {
  background-color: #b9b4cc;
  transition: all 0.3s;
  overflow: hidden;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.nav-link {
  line-height: 50px;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 13px 40px;
}

.nav-link:hover {
  color: #6f688b;
  transition-duration: 0.3s;
  transform: scale(1.2);
  border-radius: 5%;
  box-shadow: 0 0 1rem white;
}

section li,
p {
  font-size: 18px;
  line-height: 25px;
}

.about-me,
.education,
.skills,
.english,
.code-example {
  margin-left: 5%;
  margin-right: 5%;
}

.about-me {
  margin-top: 3%;
}

.code-example {
  margin-bottom: 3%;
}

.code {
  width: 70%;
  height: 70%;
}

.footer {
  background-color: #6f688b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rsshool-logo {
  width: 10%;
  height: 10%;
  margin: 0.5% 5%;
}

.year {
  margin: 0.5% 5%;
  color: #b9b4cc;
  font-size: 16px;
  line-height: 20px;
}

.footer a {
  color: #b9b4cc;
  font-size: 16px;
  line-height: 20px;
}
